<h1>Edit a Tree</h1>
<br><br>

<%= form_for @tree do |f|  %>
  <%= f.label :location %>&nbsp;&nbsp;
  <%= f.collection_select :location_id, Location.all, :id, :name %>&nbsp;&nbsp;&nbsp;&nbsp;
  <%= f.submit %>
<% end %>
