<h1>Locations</h1>
<% @locations.each do |loc| %>
  <h3><%= link_to loc.name, loc %></h3>
  <% if loc != @locations.last %>
    <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3>
  <% end %>
<% end %>
