<nav class="footer">
  <p><%= link_to 'Register', '/register' %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= link_to 'Login', new_login_path %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= link_to "Locations", locations_path %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= link_to "Plant a Tree!", new_tree_path %></p>
</nav>
